body, html {
	background: #fcfcfc;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#container {
	position: relative;
	overflow: auto;
	display: block;
}

#navTop {
	width: 100%;
	background: WHITE;
	border-bottom: 1px solid #e2e2e2;
	z-index: 3;
	height: auto;
	position: fixed;
}

#code {
	border-radius: 4px;
	border: 1px solid #d6d6d6;
	background: #f2f2f2;
}

pre {
	overflow: auto;
	color: #262626;
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
}

header {
	position: static;
	height: 150px;
	background-image: url("../img/pattern.svg");
	background-repeat: repeat;
	background: #fcfcfc;
	/*linear-gradient(#46f3fc,#3f82ff)*/
	/*#014c18 url("../img/pattern.png");*/
}

nav {
	width: 15%;
	height: 100%;
}

article {
	z-index: 1;
	width: 70%;
	height: 100%;
}

aside {
	width: 15%;
	height: 100%;
	background: BLACK;
}

article>section {
	padding: 40px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	background: white;
}

section#conteudo {
	display: flex;
	position: static;
}

footer {
	width: 100%;
	height: 700px;
	overflow: hidden;
	color: white;
	font-family: 'Inconsolata', monospace;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}

h1 {
	cursor: pointer;
	text-align: left;
	font-family: 'dinmittelef-bold';
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	color: #262626; /*#fcdb0cff*/ /*#e8c102*/
	font-size: 30px;
	-webkit-transition: opacity 0.3s;
}

h1:hover {
	opacity: 0.6;
}

ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

li a {
	cursor: pointer;
	font-family: 'BMW Type Web Light All';
	text-align: center;
	padding: 20px 16px;
	color: gray;
	display: block;
}

li a:hover {
	text-align: center;
	padding: 20px 16px;
	display: block;
	color: #0653b6;
}

a:link {
	text-decoration: none;
	outline: none;
	color: black;
}

a:visited {
	text-decoration: underline dotted black;
	outline: none;
	color: black;
}

a:active {
	text-decoration: none;
	outline: none;
	color: black;
}

p {
	font-family: 'BMW Type Web Light All';
	line-height: 1.6;
	margin-top: 15px;
	padding: 0;
	color: #262626; /*#e8c102*/
	font-size: 20px;
	overflow: auto;
	display: block;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: color 0.5s;
}

p:hover {
	color: #262626;
}

input[type=text]:focus {
	border: 1px solid #f2f2f2;
}

input[type=submit] {
	width: 100%;
	height: 50px;
	border: none;
	background: #fcfcfc;
	border: 1px solid #e2e2e2;
	color: #3f3f3f;
	outline: none;
	font-family: 'dinmittelef-bold';
	font-size: 30px;
}

input[type=submit]::-moz-focus-inner {
	border: 0;
}

::placeholder {
	color: #262626;
	opacity: 0.5;
}

textarea {
	resize: vertical;
	font-family: 'dinmittelef-bold';
	font-size: 30px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	color: #ffe600;
	background: black;
	border: 2px solid #262626;
	border-radius: 4px;
	outline: none;
	border-radius: 4px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

textarea:focus {
	border: 3px solid red;
}

::-moz-selection {
	background: #d1d1d1;
	color: BLACK;
}

::selection {
	background: #d1d1d1;
	color: BLACK;
}

#alemaum {
	color: yellow;
	font-size: 180px;
	text-align: center;
	overflow: hidden;
	background: BLACK;
}

#header {
	color: WHITE; /*#8b8b8b*/
	font-family: 'dinmittelef-bold';
	font-size: 16px;
	top: 0px; /*15*/
	width: 75%;
	z-index: 100;
	padding: 0px;
	position: relative;
	overflow: hidden;
	margin: auto;
}

#effect {
	color: BLACK; /*#8b8b8b*/
	z-index: -100;
	position: absolute;
	height: 100%;
	width: 100%;
}

#slogan {
	margin-top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	display: flex;
	background: #e04018;
	/*
	background-image: url("../img/imagem.jpg");
	*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1600px;
	background-position: center;
}

#slogan>div {
	width: 30%;
	height: 100%;
	overflow: hidden;
}

#listcontainer {
	background: WHITE;
	position: relative;
	border-right: 3px solid gray;
	width: 250px;
	height: 80px;
	display: block;
}

.topnav .icon {
	display: none;
	outline: none;
}

#navSide div:nth-child(even) {
	background-color: gray;
}

#contacts {
	font-family: 'dinmittelef-bold';
	font-size: 25px;
	color: #262626;
	border-collapse: collapse;
	width: 100%;
	border: 0px;
	margin: 0px;
}

#contacts td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#contacts tr:nth-child(even) {
	background: #f2f2f2;
	border: 0px;
	margin: 0px;
}

#contacts tr:hover {
	cursor: pointer;
	background-color: #ddd;
}

#profile {
	position: relative;
	background-image: url("../img/wallpaper.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 150px;
	top: 0;
}

@media screen and (max-width: 600px) {
	#slogan {
		/*
			background-size: 80%;
			background-position: center;
			*/
		
	}
	p {
		font-size: 30px;
	}
	h1 {
		font-size: 35px;
	}
	article {
		width: 100%;
	}
	aside {
		display: none;
		width: 0%;
	}
	#navSide {
		display: block;
		width: 0%;
	}
	.topnav li:not (:first-child ) {
		display: none;
	}
	.topnav img {
		display: none;
	}
	.topnav a.icon {
		outline: none;
		color: #262626;
		font-size: 15px;
		background-clip: text;
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 15px;
		top: 0px;
	}
	.topnav.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
}

@font-face {
	font-family: 'BMW Type Web Bold All';
	src: url('../fonts/BMWTypeWebBoldAll.woff2') format('woff2'),
		url('../fonts/BMWTypeWebBoldAll.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BMW Type Web Light All';
	src: url('../fonts/BMWTypeWebLightAll.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'dinmittelef-bold';
	src: url('../fonts/246fff_0_0.eot');
	src: url('../fonts/246fff_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/246fff_0_0.woff') format('woff'),
		url('../fonts/246fff_0_0.ttf') format('truetype'),
		url('../fonts/246fff_0_0.svg#dinmittelef-boldregular') format('svg');
	font-weight: bold;
	font-style: normal;
}